body
    margin: 0px;
    padding: 0px;

@font-face 
    font-family: 'ConcertOne';
    src: url(../fonts/ConcertOne-Regular.ttf);

@font-face 
    font-family: 'Inconsolata';
    src: url(../fonts/Inconsolata-Regular.ttf);

@font-face 
    font-family: 'Raleway-ExtraLight';
    src: url(../fonts/Raleway-ExtraLight.ttf);

